/* VARIABLES */

/*
COLOR THEME
Primary: #1e2a3d (blue)
Secondary: #b1afaf (gray)
Tertiary: #d75744 (red)
Background: #fafafa (off-white)
*/

/* TYPOGRAPHIC STYLES

Font-Family Options
headers
Nunito Sans — 600(Semi-Bold), 700(Bold), 800(Extra-Bold)
body
Open Sans — 300(Light), 400(Regular)

*/

.container {
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  background-color: #fafafa;
}

h1 {
  font-family: 'Raleway', sans-serif;
  line-height: 1;
}

h2 {
  font-family: 'Raleway', sans-serif;
  line-height: 1;
}

h3 {
  font-family: 'Raleway', sans-serif;
  line-height: 1;
}

h4 {
  font-family: 'Raleway', sans-serif;
  line-height: 1;
}

h5 {
  font-family: 'Raleway', sans-serif;
  line-height: 1;
}

h6 {
  font-family: 'Raleway', sans-serif;
  line-height: 1;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

/* POSITIONING */
* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  /* flex-wrap: wrap; */
  position: fixed;
  top: 0;
  background-color: #fafafa;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #b1afaf;
}

.page-header__item {
  /* flex: 0 1 50px; */
  flex: 0 1 auto;
}

.page-header__logo {
  max-height: 50px;
  max-width: 85px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

/* NAV WIDE */

.navigation-list {
  display: inline-block;
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item {
  align-items: flex-end;
}

#hamburger {
  background-color: transparent;
  color: #d75744;
  border: none;
  display: none;
  align-self: center;
  padding: 16px 0;
}

#hamburger:focus {
  outline: none;
}

/* NAV NARROW */

@media all and (max-width: 500px) {
  .navigation-list {
    display: none;
  }

  #hamburger {
    display: inline-block;
  }

  .navigation-list.show {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

main {
  min-width: 60%;
  max-width: 90%;
  flex: 1;
  margin: 125px auto 0;
  text-align: center;
  padding: 0 25px;
}

main table {
  display: inline-block;
}

.profile {
  display: flex;
  text-align: left;
}

.profile__item {
  flex: 0 1 auto;
  flex-wrap: wrap;
}

.profile__portrait {
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}

.mountains-img {
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  z-index: -999;
}

.page-footer {
  padding: 20px 0 20px;
  border-top: 1px solid #b1afaf;
  margin-top: 50px;
  width: 100%;
}

.page-footer__box {
  max-width: 300px;
  margin: 0 auto;
  clear: both;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.page-footer__contact {
  align-self: flex-end;
}

.page-footer img {
  width: 30px;
  height: 30px;
}

/* ABOUT PAGE */

thead :first-child :first-child {
  border-top-left-radius: 5px;
  }

thead :first-child :last-child {
  border-top-right-radius: 5px;
  }

tbody :last-child :first-child {
  border-bottom-left-radius: 5px;
  }

tbody :last-child :last-child {
  border-bottom-right-radius: 5px;
  }

table {
  text-align: left;
  border-collapse: collapse;
}

thead {
  font-size: 18px;
  font-weight: 600;
  color: #fafafa;
}

thead tr {
  background-color: #d75744;
}

tr {
  background-color: #fafafa;
}

tr:nth-of-type(even) {
  background-color: #F2F2F2;
}

td {
  padding: .75em;
}



/* CONTACT PAGE */

label {
  display: none;
}

.contact-form {
  /* display: flex; */
  width: 100%;
  margin: 15px 0 50px;
  text-align: center;
  /* justify-content: stretch; */
}

.contact-form__fieldset {
  /* width: 100%; */
  border: none;
  border-top: 1px solid #b1afaf;
}

.contact-form__header {
  margin: 0;
  padding: 0 5px;
  color: #d75744;
}

.contact-form__item {
  /* flex: 1 100%; */
  padding: 15px 0;
}

#contact-name {
  width: 100%;
  margin: 0;
	outline: 0;
  border: none;
  background-color: transparent;
	padding: 10px;
  border-bottom: 1px solid #b1afaf;
}

#contact-email {
  width: 100%;
  margin: 0;
	outline: 0;
  border: none;
  background-color: transparent;
	padding: 10px;
  border-bottom: 1px solid #b1afaf;
}

#contact-phone {
  width: 100%;
  margin: 0;
	outline: 0;
  border: none;
  background-color: transparent;
	padding: 10px;
  border-bottom: 1px solid #b1afaf;
}

#contact-message {
  width: 100%;
  margin: 0;
	outline: 0;
  border: none;
  background-color: transparent;
	padding: 10px;
  border-bottom: 1px solid #b1afaf;
}

#contact-name:focus {
  background-color: #F2F2F2;
}

#contact-email:focus {
  background-color: #F2F2F2;
}

#contact-phone:focus {
  background-color: #F2F2F2;
}

#contact-message:focus {
  background-color: #F2F2F2;
}

/* WORK PAGE */

/* grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }

  .grid__item {
    /* background-color: lightgray; */
    width: auto;
    min-height: auto;
    margin: 0;
    text-align: left;
  }

  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
    align-self: center;
  }
}

/* BUTTON STYLES */
button {
  border: none;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 16px;
  border-radius: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  line-height: 1.6;
}
.button {
  border: none;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 16px;
  border-radius: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  line-height: 1.6;
}

.button-primary {
  background-color: #d75744;
  color: #fafafa;
}

.button-secondary {
  background-color: #fafafa;
  color: #d75744;
  border: 1px solid #b1afaf;
}

.button-tertiary {
  background-color: rgba(0, 0, 0, 0);
  color: #d75744;
}

.button-tertiary__anchor {
  background-color: rgba(0, 0, 0, 0);
  color: #d75744;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
}

.button-primary:hover,
.button-primary:focus {
  opacity: 0.8;
  transition: 0.3s;
}

.button-primary:visited {
  color: #1e2a3d;
}

.button-secondary:hover {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  transition: 0.3s;
}

.button-secondary:focus {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  transition: 0.3s;
}

.button-tertiary:hover {
  background-color: #F2F2F2;
  transition: 0.3s;
}

.button-tertiary:focus {
  background-color: #F2F2F2;
  transition: 0.3s;
}

.button-secondary:visited {
  color: #d75744;
}

.button-tertiary:visited {
  color: #d75744;
}

/* LINK STYLES */
a {
  color: #d75744;
}

a:visited {
  color: #1e2a3d;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #1e2a3d;
}

.navigation-list__item--active {
  text-decoration: none;
}

.navigation-list__item:visited {
  color: #d75744;
}

/* MEDIA QUERIES */

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {  
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 500px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile__portrait {
    max-width: 100%;
    margin: 0;
  }

  .page-footer__box {
    width: 150px;
  }

  .page-footer__item:nth-child(1) {
    padding-left: 15%;
  }

  .page-footer__item:nth-child(2) {
    padding-right: 15%;
  }

  .page-footer__contact {
    width: 100%;
    align-self: flex-end;
  }

  /* .page-footer :nth-child(2) {
    order: 3;
  } */
}
